In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn import model_selection
from sklearn import tree
from sklearn.linear_model import  LinearRegression
from sklearn import ensemble

In [87]:
df = pd.read_csv('./datas/result.csv',index_col=0)

In [88]:
df.head()

,areaName,commName,amInfo,tprice,uprice,rmInfo,tmInfo,elevator,subway,floor_level,floor,year,house_type,decoration
0,龙岗区,颐安都会中央二期,87.84,490,55784,3室2厅,东南,有,是,高楼层,31.0,2016.0,平层,精装
1,福田区,海悦华城,88.17,530,60112,3室2厅,西南,有,是,低楼层,35.0,2001.0,平层,简装
2,龙岗区,中海康城国际一期,86.19,378,43857,3室2厅,东南,有,否,高楼层,33.0,2009.0,平层,简装
3,宝安区,丽沙花都,89.41,450,50330,5室2厅,南北,无,否,高楼层,7.0,2004.0,复式,简装
4,龙华区,劲力城市明珠,77.31,399,51611,3室1厅,东南,有,否,高楼层,18.0,2006.0,平层,简装

In [89]:
df = df.dropna()

In [90]:
del df['commName']

In [91]:
df.head()

,areaName,amInfo,tprice,uprice,rmInfo,tmInfo,elevator,subway,floor_level,floor,year,house_type,decoration
0,龙岗区,87.84,490,55784,3室2厅,东南,有,是,高楼层,31.0,2016.0,平层,精装
1,福田区,88.17,530,60112,3室2厅,西南,有,是,低楼层,35.0,2001.0,平层,简装
2,龙岗区,86.19,378,43857,3室2厅,东南,有,否,高楼层,33.0,2009.0,平层,简装
3,宝安区,89.41,450,50330,5室2厅,南北,无,否,高楼层,7.0,2004.0,复式,简装
4,龙华区,77.31,399,51611,3室1厅,东南,有,否,高楼层,18.0,2006.0,平层,简装

In [92]:
an = np.unique(df['areaName'].values)
ri = np.unique(df['rmInfo'].values)
ele = np.unique(df['elevator'].values)
sw = np.unique(df['subway'].values)
fl = np.unique(df['floor_level'].values)
ht = np.unique(df['house_type'].values)
de = np.unique(df['decoration'].values)
tm = np.unique(df['tmInfo'].values)
ye = np.unique(df['year'].values)

In [93]:
temp = map(lambda x:{i:j for i,j in zip(x,range(0,len(x)))},[an,ri,ele,sw,fl,ht,de,tm,ye])

In [94]:
for i in temp:
    df = df.replace(i)

In [95]:
df.head()

,areaName,amInfo,tprice,uprice,rmInfo,tmInfo,elevator,subway,floor_level,floor,year,house_type,decoration
0,9,87.84,490,55784,8,5,2,1,2,31.0,35.0,1,3
1,6,88.17,530,60112,8,36,2,1,1,35.0,20.0,1,2
2,9,86.19,378,43857,8,5,2,0,2,33.0,28.0,1,2
3,4,89.41,450,50330,15,23,0,0,2,7.0,23.0,0,2
4,8,77.31,399,51611,7,5,2,0,2,18.0,25.0,1,2

In [96]:
data = df.loc[:,df.columns != 'uprice'].values
target = df.loc[:,df.columns == 'uprice'].values

In [101]:
Xtrain, Xtest, Ytrain, Ytest = model_selection.train_test_split(data,target,test_size=0.3)

In [102]:
regressor = ensemble.RandomForestRegressor(n_estimators=100,random_state=0)
model_selection.cross_val_score(regressor, data, target, cv=10
               ,scoring = "neg_mean_squared_error")

D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
D:\Anconda\lib\site-packages\sklearn\model_selection\_validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

array([-2.30453041e+08, -1.82260098e+08, -2.36828574e+08, -1.69733010e+08,
       -5.22827332e+07, -6.83134820e+07, -6.97043141e+07, -7.50281441e+07,
       -1.47298208e+08, -1.46437417e+08])

In [104]:
regressor.fit(Xtrain, Ytrain)

D:\Anconda\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [105]:
regressor.score(Xtest,Ytest)

0.731077422382152